.partner-section {
  position: relative;
  padding: 40px 0;
  background: #f7f9fc;
}

.dots-icon {
  position: absolute;
  top: -100px;
  z-index: 1;
  height: 100px;
  width: 100px;
}
 
.round-icon {
  position: absolute;
  top: -100px;
  right: 90px;
  z-index: 1;
  height: 100px;
  width: 100px;
}

.content-section h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: #1f284f;
}
.content-section p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #575757;
}

.partner-form {
  position: absolute;
  top: -80px;
  left: 40px;
  width: 100%;
  max-width: 480px;
  background: white;
  padding: 8px 15px;
  border-radius: 12px;
  z-index: 2;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.partner-form .form-control {
  padding: 4px 10px;
  font-size: 14px;
}

.blue-background-container {
  height: 220px;
  background: #1f284f;
  margin-top: 50px;
}
.apply-btn {
  padding: 7px 20px;
  border-radius: 15px;
  color: white;
  background-color: #0070f0e5;
}
@media (max-width: 767px) {

  .round-icon,
  .dots-icon {
    display: none;
  }

  .partner-section {
    padding: 40px 0;
  }

  
  .content-section {
    text-align: center;
    margin-bottom: 25px;
  }

  .content-section h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .content-section p {
    font-size: 16px;
    line-height: 24px;
  }

 
  .partner-form {
    position: static; 
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    padding: 15px;
  }


  .blue-background-container {
    height: 120px;
    margin-top: 30px;
    display: none;
  }
}

@media (max-width: 1024px) {

 
  .round-icon,
  .dots-icon {
    display: none;
  }

  
  .partner-section {
    padding: 40px 0;
  }

  .content-section {
    text-align: center;
    margin-bottom: 25px;
  }

  .content-section h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .content-section p {
    font-size: 16px;
    line-height: 24px;
  }

  
  .partner-form {
    position: static;    
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    padding: 15px;
  }
   
   
  .blue-background-container {
    height: 120px;
    margin-top: 30px;
    display: none;
  }
}
.card_icon{
  width: 70px;
  height: 70px;
}
.benifits-card{
  padding: 20px;
  border: 1px solid #95DDFF;
  border-radius: 15px;
  background-color: #FFFFFF;
  height: 100%;
}
 





.real-stories-section {
  background: #f7f9fc;
  padding: 100px 0;
  
}

 

.stories-heading {
  position: relative;
}

.quote-icon {
  width: 90px;
  opacity: 0.3;
  position: absolute;
  top: -20px;
  left: -20px;
}

.stories-heading h2 {
  font-size: 36px;
  font-weight: 700;
  color: #1d2b4f;
}

.stories-heading p {
  margin-top: 10px;
  color: #6c757d;
}
 

.story-card {
  background: white;
  padding: 28px;
  border-radius: 14px;
  width: 100%;
  max-width: 100%;
}

.logo{
    width: 128px;
    height: 78px;
}
.brands{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stories-card-main{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.brand {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 12px;
}

.allegro {
  color: #ff5a00;
}
 

.story-text {
  font-size: 16px;
  font-weight: 400;
  color: #17181A;
  line-height: 32px;
  margin-bottom: 20px;
}

 

.story-user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.story-user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.story-user h6 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.story-user span {
  font-size: 12px;
  color: #6c757d;
}

 

.allegro-card {
  margin-top: 60px;
}

 

.slider-dots {
  margin-top: 40px;
  text-align: center;
   z-index: 1000000;
}

.slider-dots span {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #cfd6e4;
  border-radius: 50%;
  margin: 0 4px;
}

.slider-dots .active {
  width: 24px;
  border-radius: 6px;
  background: #1d2b4f;
  
}
.real-stories-section {
  overflow-x: clip;
}

@media (max-width: 767px) {
  .story-card {
    max-width: 100%;
    width: 100%;
  }
}




.sponsor-section{
    background: #FAFBFC;
    padding: 30px 0px;
}
.sponsor-section h3{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #1F284F;
    line-height: 40px;
}
.scroll-wrapper {
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
}

.scroll-track {
  display: flex;
  gap: 50px;
  width: max-content;
  animation: scroll 18s linear infinite;
}
 
.scroll-track.reverse {
  animation: scrollReverse 18s linear infinite;
}

 

 
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
 
@keyframes scrollReverse {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}



@media(max-width:767px){
    .stories-card-main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
}

.wave-energy-card{
  background-color: #3EABBF;
  border-radius: 30px;
  min-height: 320px;
  color: #fff;
}

.technology-section {
  background-color: #FAFBFC;
}

  
.tech-image-wrapper {
  border-radius: 24px;
  overflow: hidden;
  background: #f5f7fa;
}

.tech-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

 
.tech-title {
  font-weight: 700;
  color: #0b1b3f;
}

.tech-desc {
  color: #5f6b7a;
  font-size: 15px;
  line-height: 1.7;
}

 
.tech-feature {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

.feature-icon {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  background: linear-gradient(135deg, #6f7cff, #9fa8ff);
  flex-shrink: 0;
  margin-top: 4px;
}

.tech-feature h6 {
  margin-bottom: 4px;
  font-size: 15px;
  font-weight: 600;
  color: #0b1b3f;
}

.tech-feature p {
  margin: 0;
  font-size: 14px;
  color: #6b7280;
}
.beneift-main{
  background-color: #EEFEF7;
  padding: 40px 0px;
}
 .benfit-section h1,.benfit-section p{
  text-align: center;
 }
.benifits-card h3{
  font-size: 20px;
  font-weight: 700;
  color: #0069AB;
  text-align: left;
}
.benifits-card p{
  font-size: 14px;
  font-weight: 600;
  color: #6D6D6D;
  text-align: left;
}
@media(max-width:767px){
  .benfit-section h1{
  font-size: 30px;
}

}


.projects-section {
  padding: 40px 0;
  text-align: center;
}

.section-title {
  font-weight: 600;
  margin-bottom: 12px;
  color: #0069AB;
}

.section-desc {
  max-width: 850px;
  margin: 0 auto 60px;
  color: #6b7280;
}

  
.project-card {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  height: 100%;
  padding: 30px 0px;
}

 
.image-stack {
  position: relative;
  padding: 24px;
}

.image-back {
  position: absolute;
  inset: 0;
  background-image: url('../assets/project_back_img.png');
  background-repeat: no-repeat;
  background-size: cover;        
  background-position: center;   
  border-radius: 18px;
  z-index: 1;
}


 

.image-front {
  position: relative;
  width: 100%;
  top: 30px;
  left: -23px;
  border-radius: 16px;
  z-index: 2;
}

 
.project-content {
  padding: 24px;
  text-align: left;
}

.project-content h5 {
  font-weight: 600;
  margin-bottom: 10px;
   
}

.project-content p {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 16px;
}

.project-content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 16px;
  font-size: 14px;
}

.project-content ul li {
  margin-bottom: 6px;
}
.project-content ul li strong{
  color: #0069AB;
}
.view-more-main{
  display: flex;
  justify-content: end;
}
.view-more {
  color: #2563eb;
  font-weight: 500;
  text-decoration: none;
}


.projects-swiper {
  padding: 40px 0 60px;
}

.projects-swiper .swiper-slide {
  height: auto;
}



.why-section {
  padding: 80px 0;
  background: radial-gradient(circle at right, #eef6ff, #ffffff);
}
 
.why-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: #1f284f;
  margin-bottom: 16px;
}

.why-content p {
  font-size: 16px;
  color: #6b7280;
  line-height: 1.7;
  margin-bottom: 16px;
}

.why-btn {
  padding: 12px 35px;
  border-radius: 20px;
  background: #1da1f2;
  color: #fff;
  border: none;
  font-weight: 600;
}

.why-choose-image {
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
}

 