/* footer {
  background-color: #f2faff;
  padding: 80px 20px 40px 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
.footer-bg-section {
  background-color: #fafbfc;
  padding: 20px;

}
.footer-icon {
  width: 150px;
  height: 74px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.footer-links-name {
  font-weight: bold;
  font-size: 20px;
  color: #00a4f4;
  text-align: left;
}
footer h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}

footer h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
}

footer h2,
footer h3 {
  color: var(--footer-primary-color);
}

footer p {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-secondary-color);
  line-height: 24px;
}

footer ul {
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  padding-left: 0;
  margin: 0;
  text-align: left;
}

footer p,
footer ul {
  color: var(--footer-secondary-color);
}

footer a {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  list-style: none;
  color: var(--text-color);
  text-decoration: none;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.3s ease;
}

.social-icons span a {
  font-size: 22px;
  color: #00a4f4;
}

.social-icons span a:hover {
  color: var(--gradient-start-color);
}

.socials-margin {
  margin-top: 40px;
}

.icon-store {
  margin-right: 12px;
  font-size: 20px;
}

.newsletter {
  text-align: left;
}

.newsletter-subheading {
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 10px;
}

.footer-bottom {
  background-color: #f2faff;
  padding: 10px 20px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a3b4c;
  border-top: 1px solid var(--blue-border-color);
}

.footer-center a {
  margin: 0 10px;
  text-decoration: none;
  color: #1a3b4c;
}

.footer-center a:hover {
  text-decoration: underline;
}
.footer-left {
  color: var(--text-color);
}
.footer-left,
.footer-center,
.footer-right {
  display: flex;
  align-items: center;
}

.footer-right span {
  display: flex;
  align-items: center;
}

footer {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
@media (max-width: 768px) {
  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 8px;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    justify-content: center;
  }

  .footer-left,
  .footer-center a,
  .footer-right span {
    font-size: 12px;
  }
  .footer-icon {
    height: 150px;
  }
}
