.footer-bg-section {
  width: 100vw;
  background: #FAFBFC;
  /* margin-left: calc(-50vw + 50%); */
}
.iso-footer-img{
  width: 150px;
  height: auto;
}
.footer-icon{
   width: 160px;
  /* height: 80px; */
  object-fit: contain;
}

.footer {
  padding: 60px 0 20px;
}

.footer-text {
  font-size: 14px;
  color: #666;
}

.footer-links-name {
  font-weight: 600;
  margin-bottom: 15px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer a {
  text-decoration: none;
  color: #444;
}

.social-links {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}

.social-links a {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444;
}

.reach-us-list li {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  align-items: flex-start;
  font-size: 14px;
}

.reach-us-list svg {
  font-size: 18px;
  color: #1a73e8;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
}
.resources-list li{
  font-size: 14px;
}